<title>Sum Machine</title>
<h1>Sum Machine</h1>
<p>This machine returns sum of integers. Define integers in first box. Define index of integer that you want to sum in second box. Define index of the other integer that you want to sum third box. Indices start with 0.</p>
Result is {{result}}


<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>
